.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 2rem;
  box-shadow: 0 1px 5px #999;
}

.header-background {
  object-fit: cover;
}

.heading-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profile-image-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px #777;
}

.heading-container {
  text-align: center;
  z-index: 1;
  color: #111;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
}

.subheading {
  font-size: 1.25rem;
  font-weight: 500;
  opacity: 0.8;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  background-color: #fafafa;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  max-width: 1200px;
}

.badge-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 2rem 1rem;
}

.badge-wrapper {
  position: relative;
  height: 120px;
  width: 120px;
}

.logos {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  margin: auto;
}

.logo-wrapper {
  position: relative;
  height: 50px;
  width: 90px;
}

.tech-stack-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.25rem;
}

.section-heading {
  color: #779199;
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
}

.links-heading {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.bold {
  font-weight: 700;
}

@media (min-width: 600px) {
  .header {
    padding: 5rem 2rem;
  }

  .heading-wrapper {
    flex-direction: row;
    gap: 5rem;
  }

  .profile-image-container {
    width: 250px;
    height: 250px;
  }

  .heading {
    font-size: 4rem;
  }

  .subheading {
    font-size: 2.5rem;
  }

  .logos {
    gap: 8rem;
  }

  .logo-wrapper {
    height: 100px;
    width: 180px;
  }

  .badge-container {
    gap: 6rem;
  }

  .badge-wrapper {
    height: 240px;
    width: 240px;
  }

  .tech-stack-list {
    font-size: 1.5rem;
  }

  .main-content {
    gap: 8rem;
  }
}
